#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  border: solid 1px gray;
}

.output {
  background-color: rgb(168, 164, 164);
  columns: white;
  text-align: right;
  padding: 12px 15px;
  font-size: 28px;
}

.nums-and-ops {
  display: grid;
  width: 380px;
  height: 470px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  background-color: gainsboro;
}

.nums-and-ops :nth-child(4n) {
  background-color: rgb(250, 127, 83);
}

.nums-and-ops :nth-child(19) {
  background-color: rgb(250, 127, 83);
}

.nums-and-ops :nth-child(17) {
  grid-column: span 2;
}

.calc-child {
  display: flex;
  align-items: center;
  background: rgb(202, 201, 201);
  justify-content: center;
  color: black;
  cursor: pointer;
}

.calc-child:hover {
  background: rgb(150, 149, 149);
}